<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>59273264687-9178k937g5nhcmlnsqvolti7pvh3fjns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59273264687-9178k937g5nhcmlnsqvolti7pvh3fjns</string>
	<key>API_KEY</key>
	<string>AIzaSyAHLW4STZie2JUvRmLgdJ-1I2RBkHCXhaE</string>
	<key>GCM_SENDER_ID</key>
	<string>59273264687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.starter</string>
	<key>PROJECT_ID</key>
	<string>starter-flutter-template</string>
	<key>STORAGE_BUCKET</key>
	<string>starter-flutter-template.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59273264687:ios:e1f151d4821e43569090da</string>
</dict>
</plist>